<body style="background-color:#bdbd65">
    <div class="video-container" style=" 
        border-radius: 18px;
        padding: 28px;
        position: absolute;
        display: flex;
        top: 3vh;
        left: 7vw;
        width: 90vw;
        background: url(../static/200.webp);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 82vh;

    ">
        <div class="details" style="
               text-align: center;
    position: absolute;
    align-items: center;
    top: 10vh;
    left: 15vw;
    background-color: #5b68bccf;
    color: white;
    padding: 47px;
    border-radius: 15px;
    width: 50vw;
    
        ">
            
            <h1>
                <%= video.title %>
            </h1>
            <p class="para-detail">
                By <%= video.user.name %>
            </p>
            <p class="para-detail">
                Posted on
                <% var createdAt=new Date(video.createdAt); var date=createdAt.getDate()+""; %>
                    <%= date.padStart(2,"0")+" " + months[createdAt.getMonth()]+" ,"+ createdAt.getFullYear() %>
            </p>

            
            <input type="hidden" id="category" value="<%=video.category %> ">
            <p class="para-detail">
                <%=video.price %> MRP
            </p>
            <div>

            </div>
            <p class="text-center para-detail">
                <b>Category:</b>
                <%= video.category %>
            </p>
            <p class="para-detail">

                <%= video.descriptions %>
            </p>
  
    <div class="video"><img src="<%=baseUrl+video.thumbnail %>" class="video " style="margin-bottom: 15px;
        border-radius: 13px;"></div>

            <button type="submit" class="btn-success">Buy Now</button>
             
            <!-- <a href="/comment/<%#=video._id %> ">view comment</a> -->
            

        </div>
        <!-- <div class="video"> <video id="videoPlayer" controls src="<%#=baseUrl+video.filePath%> "
                poster="<%#=baseUrl+video.thumbnail %> "></video>
        </div> -->
        <!-- <form action="/comment" method="post">
            <input type="hidden" name="videoId" id="videoId1" value="<%#=video._id %> ">
            <input type="hidden" name="videowatch" id="videoId1" value="<%#=video.watch %> ">
            <input type="text" name="comment" >
            <button type="submit">comment</button>
        </form> -->

    </div>